<div class="attributes">
  <div class="attribute">
    <div class="label">Activity:</div>
    <div class="value"><%= link_to issue.activity_definition.name, issue.activity_definition %></div>
  </div>
</div>
